#######################################################################
#                      Vuejs Snippets for UltiSnips                      #
#######################################################################

snippet vjsx
	<template>
	  <div>
	  </div>
	</template>

	<script>
	export default {
	  name: '${0}',

		props: {},

		data () {
		  return {
			}
		},

		components: {
		},

		computed: {
		},

		methods: {
		},

		watch: {
		},

		async mounted () {
		}
	}
	</script>
